@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;600&display=swap');
hr
{
	display: block; 
	height: 1px;
    border: 0; 
	border-top: 1px solid #ccc;
    margin: 1em 0; 
	padding: 0; 
}
nav ul li.active {
background:none!important;
}
.preloader {
   position: fixed;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   z-index: 9999;
   background-image: url('../img/loading.png');
   background-repeat: no-repeat; 
   background-color: #333445;
   background-position: center;
}
.bg-cover1
{
background-color:#333445; 
width: auto;
background-size: cover;	
height:auto;
padding:0px;
margin-top:-50px;
}
.bg-cover2
{
background-color:#262333; 
width: auto;
background-size: cover;	
height:auto;
padding:30px;
margin-top:-40px;
}
.bg-cover3
{
background-color:#333445; 
width: auto;
background-size: cover;	
height:auto;
padding:30px;
margin-top:-50px;
}
.container-port
{
max-width:1800px!important;
margin:40px 80px 40px 80px!important;
}
.cl-black
{
color:#333;
}
/**********typography*******/
.heading-primary
{
font-family: 'Montserrat', sans-serif;
font-size:50px;
font-weight:600;
line-height:55px;
}
.heading-timeline
{
font-family: 'Montserrat', sans-serif;
font-size:25px;
font-weight:600;
line-height:25px;
}
.heading-primary-sub
{
font-family: 'Montserrat', sans-serif;
font-size:19px;
font-weight:600;
line-height:25px;
}
.heading-secondary
{
font-family: 'Montserrat', sans-serif;
font-size:16px;
font-weight:600;
line-height:25px;
}
.para
{
font-family: 'Montserrat', sans-serif;
font-size:14px;
font-weight:500;
line-height:25px;
}
.justify-text
{
text-align: justify;
text-justify: inter-word;
}
/*******button*******/
.button-center
{
text-align:center;
display:block;
}
.button-general
{
font-family: 'Montserrat', sans-serif;
color:#fff;	
background:#ecb24e;
box-shadow:none;
font-size:13px;
font-weight:600;
letter-spacing:1px;
text-transform:Capitalise;
border-radius:30px;
}
.button-general:hover, .button-general:focus
{
color:#fff;
background:#fec160;	
}
.btn-custom-floating
{
background-color:#fec158!important;
}
/**********image**********/
.image-center
{
display:block;
}
.image-center img
{
display:block;
margin-left:auto;
margin-right:auto;
}
/*********colors************/
.primary
{
color:#e5e3e6;
}
.secondary
{
color:#c8c8c8;
}
.text-yellow
{
color:#fec158;	
}
/*********helper classes**********/
.text-center
{
text-align:center;	
}
.text-right
{
text-align:right;	
}
.margin-xll
{
margin-top:130px;
}
.margin-xl
{
margin-top:80px;
}
.margin-lg
{
margin-top:50px;
}
.margin-md
{
margin-top:40px;
}
.margin-sm
{
margin-top:20px;
}
.margin-xs
{
margin-top:10px;
}
.margin-inverse
{
margin-top:-25px;	
}
.margin-inverse-sm
{
margin-top:-20px;	
}
.margin-xll-bottom
{
margin-bottom:250px;
}
.margin-lg-bottom
{
margin-bottom:80px;
}
.margin-sm-bottom
{
margin-bottom:30px;
}
.image-stack
{
display:flex;
margin-bottom:0px;
}
.row .project1
{
background-color:#333445; 
width: auto;
padding:50px;
background-size: cover;	
}
.row .project2
{
background-color:#262333; 
width: auto;
padding:50px;
background-size: cover;	
}
.row .project3
{
background-color:#333445; 
width: auto;
padding:50px;
background-size: cover;	
}
/**********mobile*********/
@media only screen and (max-width: 600px) {
	.heading-primary
	{
	font-size:30px;
	line-height:45px;
	}
	.g-text
	{
	font-size:13px;
	}
	.g-text-small
	{
	font-size:12px;
	}
	.sub-heading
	{
	font-size:13px;
	}
	.bg-text-red
	{
	font-size:18px;
	}
	.bg-text-red-dark
	{
	font-size:18px;
	}
	.button-general
	{
	font-size:11px;
	}
	.button-general-black
	{
	font-size:11px;	
	}
	.bg-cover
	{
	padding:20px;
	}
	.bg-cover-mob
	{
	padding:20px;
	}
	.bg-cover1
	{
	padding:20px;
	}
	.bg-cover2
	{
	padding:20px;
	}
	.bg-cover3
	{
	padding:20px;
	}
	.image-stack
	{
	display:inherit;
	}
	.bg-cover4
	{
	padding:20px;
	}
	.bg-cover-mobile
	{
	background-color:#333445; 
	width: auto;
	background-size: cover;	
	height:auto;
	padding:2px;
	}
	.container-width
	{
	max-width:1800px!important;
	margin:20px 40px 20px 40px!important;
	}
	.bg-cover2
	{
	background-color:#262333; 
	width: auto;
	background-size: cover;	
	height:auto;
	padding:30px;
	margin-top:-20px;
	}
}